.my-title{
    padding-top: 50px;
    font-size: 2.5rem;
}

.my-photo{
    min-height: 80vh;
    background-image: url("singapore.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

.my-text{
    color: white;
    font-weight: 600;
    font-size: 1.8rem;
}

.my-thick-hr{
    width: 50%;
    border: 10px solid orangered;
    margin-left: 0;
}

.my-hr{
    width: 100%;
    border: 1px solid white;
    margin-left: 0;
}